#u43528
{
	position: relative;
}

#u43527-4
{
	letter-spacing: 1px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u43537
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u43539-4
{
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u43526
{
	border-style: none;
	border-color: transparent;
	background-color: #424242;
	position: relative;
}

#u43530-8
{
	text-align: center;
	font-size: 10px;
	color: #7F7F7F;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u43531-10
{
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u43531-3
{
	color: #29ABE2;
}

#u43531,#u43531-6
{
	color: #7F7F7F;
}

