.Page-Titles
{
	font-family: voltaire-n4, sans-serif;
}

.PARAGRAPH-TITLES
{
	font-family: economica-n4, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

.services-title,.Simple-text,.About_accordian_insidetext
{
	font-family: open-sans-n3, sans-serif;
}

.Thiny,.Paragraph-Style,.news
{
	font-family: m-1c-n2, sans-serif;
}

.Albums-Title
{
	font-family: josefin-sans-n6, sans-serif;
}

.Simple-texts,.Simple_Text
{
	font-family: open-sans-condensed-n3, sans-serif;
}

.Pragraph
{
	font-family: josefin-sans-n4, sans-serif;
}

#u43217-4,#u43347-10,#u43346-8
{
	font-family: josefin-sans-n4, sans-serif;
}

#u43355-4
{
	font-family: josefin-sans-n4, sans-serif;
}

