.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 739.525px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u30789
{
	z-index: 32;
	width: 1224px;
	height: 37px;
	top: 0px;
	left: -100px;
}

#pu43348
{
	width: 0.01px;
	left: -91px;
	position: relative;
}

#u43348
{
	z-index: 43;
	width: 117px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u30790
{
	z-index: 33;
	width: 145px;
	margin-right: -10000px;
	left: 1071px;
}

#buttonu30791
{
	z-index: 34;
	width: 49px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu30791:hover
{
	width: 49px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30792
{
	z-index: 35;
	margin-right: -10000px;
	margin-top: 3px;
	left: 9px;
}

#buttonu30799
{
	z-index: 37;
	width: 49px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 49px;
}

#buttonu30791.ButtonSelected,#buttonu30799:hover
{
	width: 49px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu30799.ButtonSelected
{
	width: 49px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30801
{
	z-index: 38;
	margin-right: -10000px;
	margin-top: 3px;
	left: 9px;
}

#buttonu30795
{
	z-index: 40;
	width: 46px;
	padding-bottom: 2px;
	margin-right: -10000px;
	left: 97px;
}

#buttonu30795:hover
{
	width: 46px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu30795.ButtonSelected
{
	width: 46px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30797
{
	z-index: 41;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u43343
{
	z-index: 27;
	width: 720px;
	min-height: 408px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 152px;
	margin-top: 31px;
	position: relative;
}

#u43355-4
{
	z-index: 28;
	width: 338px;
	min-height: 25px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	margin-left: 343px;
	margin-top: 27px;
	position: relative;
}

#u34002
{
	z-index: 2;
	width: 1224px;
	padding-bottom: 0px;
	left: -100px;
	margin-top: 22px;
}

#u34002_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 24px;
}

#u43223
{
	z-index: 7;
	width: 220px;
	left: 502px;
}

#u43217-4
{
	z-index: 3;
	width: 223px;
	min-height: 25px;
	left: 502px;
	margin-top: 7px;
}

#u43347-10
{
	z-index: 17;
	width: 463px;
	min-height: 26px;
	left: 380px;
	margin-top: 3px;
}

#u43346-8
{
	z-index: 9;
	width: 463px;
	min-height: 26px;
	left: 380px;
	margin-top: 9px;
}

#page .verticalspacer
{
	clear: both;
}

